<div class="parent_count">
    <div class="number_1">
        <div id="num_1">{{ content.field_number }}</div>
        <div>{{ content.field_plain_0 }}</div>
    </div>
    <div class="number_3">
        <div id="num_2">{{ content.field_number_2 }} </div>
        <div id="plain_num_2">{{ content.field_plain_1 }} </div>
    </div>
    <div class="number_2">
        <div id="num_3">{{ content.field_number_3 }} </div>
        <div id="plain_num_3">{{ content.field_plain_1 }} </div>
    </div>

    {# <div class="number_4">
        <div id="num_4">{{ content.field_number_4 }} </div>
        <div id="plain_num_4">{{ content.field_plain_4 }} </div>
    </div> #}
</div>