<style>
.heading{
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    position: relative;
    left: 255px;
}
.description{
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    text-align:center;
}
.service-name{
    font-weight: 700;
    margin-bottom: 15px;
   font-size: 18px;
   font-family: "Nunito", sans-serif;
}
.card li{
    list-style: none;
    width: 30%;
}
.card ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.service-description{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.card ul li{
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgb(68 88 144 / 12%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
    margin-bottom: 30px;
    /* margin-right: -1px; */
}
.card ul li:hover{


  box-shadow: 3px 7px 100px 2px rgba(107, 127, 139, 0.5);
}

img{
  margin:auto;
}
a{
  text-decoration:none;
}
</style>



<div class="main_container">
    {% for data in ourservices %}
        <div class="heading"><h1>{{ data.title }}</h1></div>
        <div class="description"> {{ data.description }} </div>
    {% endfor %}
</div>
<div class="card">
 <ul>
    {% for card in cards %}
    <li>
       <img class ="img" src="{{ file_url(card.image) }}">
        <div class="service-name">{{ card.title }}</div>
        
        <div class="service-description">{{ card.description }}</div>
        <a href="{{ card.link }}" class="service-link">{{ card.link }}</a>
    </li>
    {% endfor %}
 </ul>
</div>